setuptools==59.5.0
tqdm==4.66.1
dill==0.3.7
numpy==1.22
matplotlib==3.5
scipy==1.7
scikit_learn==1.0
termcolor
GPUtil
soundfile
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
torchcrepe
tensorboard
pytorch_lightning==1.6
hydra-core==1.2
cached-conv>=2.5.0
git+https://github.com/domkirke/acids_transforms.git
git+https://github.com/domkirke/lardon.git
git+https://github.com/acids-ircam/nn_tilde.git@feature/attributes
git+https://github.com/domkirke/trajectories.git@master
